@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  height: 65px;
  background-color:rgb(214, 117, 185);
  color:rgb(58, 6, 75);
  padding: 5px;

font-family: 'Times New Roman', Times, serif;
  
}
.header_button{
  display: flex;
  font-size:30px;
  justify-content: center;
  align-items: center;
  gap: 100px;   

  
}
.home_container{
  background-color: rgb(197, 174, 219);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: blueviolet;
  height: 600px;
  display: flex;
  justify-content: space-between;

}
.child_container{
  font-size: 45px;
  text-align: left;
  padding: 30px;
  
  

}
.image_container{
  /* width: 250px;
  height: 250px; */
  border-radius: 50%;
  
  /* background-color: aqua; */
  margin-top: 55px;
  margin-right: 100px;
  
}

.contact_container{
  background-color: aqua;
  font-size: 45px;
  height: 600px;
  text-align: center;
  padding-top: 50px;
  
  
}
.about_container{
  background-color: aqua;
  font-size: 45px;
  height: 600px;
  text-align: center;
  padding-top: 50px;
}
.job_container{
  background-color: aqua;
  font-size: 45px;
  height: 600px;
  text-align: center;
  padding-top: 50px;
}

.footer{
  height: 65px;
  background-color:rgb(214, 117, 185);
  color:rgb(58, 6, 75);
  padding: 5px;

font-family: 'Times New Roman', Times, serif;
}

.footer_button{
  display: flex;
  font-size:30px;
  justify-content: center;
  align-items: center;
  gap: 100px;   


}